<% include ../partials/header.ejs %>

<% include ../partials/main_nav.ejs %>

<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            
            <% if(typeof displayName == 'string' && displayName) { %>
                <a href="/user-list/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> Add a buisness contact
                    </a>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Number</th>
                    <th class="text-center col-3">Email</th>
                    <th class="col-2">Edit</th>
                    <th class="text-center col-3">Delete</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < user_collection.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= user_collection[count].contactname %></td>
                        <td class="text-center col-2"><%= user_collection[count].contactnumber %></td>
                        <td class="text-center col-3"><%= user_collection[count].emailaddress %></td>        
                        <td class="text-center col-0">
                            <td class="text-center col-0">
                                <a href="/user-list/edit/<%= user_collection[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center col-4">
                                <a href="/user-list/delete/<%= user_collection[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                        </td>   
                    </tr>    
                <% } %>
            </table>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
